/* You can add global styles to this file, and also import other style files */
body{

height: 100vh;
background-size: cover;
background-position: center;

  
}

a{
text-decoration: none;
color: black;
display: block;
}
a:hover{
background-color: green;
}

.form{
position: absolute;
z-index: 1;
background:#ffffff;
max-width: 360px;
margin-top: 125px;
margin-bottom: 400px;
margin-left: 750px; 
padding: 45px;
text-align: center;
}
.form input{
font-family: "Roboto",sans-serif;
outline: 1;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.form button{
font-family: "Roboto",sans-serif;
text-transform: uppercase;
outline: 0;
background: rgb(5, 126, 9);
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}
.form .login-form .button{
font-family: "Roboto",sans-serif;
text-transform: uppercase;
outline: 0;
background: rgb(13, 216, 20);
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;


}
.form .REgister{

display: none;

}

.main-box {
    margin: auto;
    width: 95%;
    border: 3px green solid;
    padding: 2px;
    display: flex;
}

.box {
    margin-left: 5%;
    float: left;
}

#orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#orders td, #orders th {
    border: 1px solid #ddd;
    padding: 8px;
}

#orders tr:nth-child(even){background-color: #f2f2f2;}

#orders tr:hover {background-color: #ddd;}

#orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
  }
