<head>
    <title>Home</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Include JS File Here -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Home</h2>
            <form id="form_id" method="post" name="myform">
                <label>privkey :</label>
                <input type="password" name="privkey" id="privkey" />
                <input type="button" value="Login" id="submit" onclick="login_insur()" />
            </form>
        </div>
    </div>
</body>
<script src="javascripts/main.js"></script>