<head>
    <title>Police Login</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Include JS File Here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Police Login</h2>
            <form id="form_id" method="post" name="myform">
                <label>privkey :</label>
                <input type="privkey" name="privkey" id="privkey" />
                <input type="button" value="Login" id="submit" onclick="login_insur()" />
            </form>
            <!-- <span><b class="valid">User Name : Formget<br />privkey : formget#123</b></span> -->
        </div>
    </div>
</body>
<script>
    var attempt = 3; // Variable to count number of attempts.
    // Below function Executes on click of login button.
<script src="javascripts/main.js"></script>