<head>
    <title>Police Login</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Include JS File Here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="javascripts/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Police Login</h2>
            <form id="form_id" method="post" name="myform">
                <label>Password :</label>
                <input type="password" name="password" id="password" />
                <input type="button" value="Login" id="submit" onclick="policeLog()" />
            </form>
           <!-- <span><b class="valid">User Name : Formget<br />Password : formget#123</b></span> -->
        </div>
    </div>
</body>
<script>
    var attempt = 3; // Variable to count number of attempts.
    // Below function Executes on click of login button.
    function validate() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (username == "Formget" && password == "formget#123") {
            alert("Login successfully");
            window.location = "success.html"; // Redirecting to other page.
            return false;
        }
        else {
            attempt--;// Decrementing by one.
            alert("You have " + attempt + " attempt(s) left;");
            // Disabling fields after 3 attempts.
            if (attempt == 0) {
                document.getElementById("username").disabled = true;
                document.getElementById("password").disabled = true;
                document.getElementById("submit").disabled = true;
                return false;
            }
        }
    }</script>
    <script src="javascripts/main.js"></script>