<link rel="stylesheet" href="/stylesheets/style.css">
 <center>
<div class="bake">
  <div class="form"><br><br><br>
     
          
    <form class="bake">
  <input id="bake_id" type="text" placeholder="Cookies"/>
  <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "bake_cookie(event)" > Bake</button>

  </form>
 
  </div>
</div>
 </center>
<script src='/javascripts/main.js'></script>