

<link rel="stylesheet" href="/stylesheets/style.css">
<div class="form1">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- form start-->
            <div class="wrapper">
            <form class="form-container">
                <div class="form-group"><br><br><br>
                <br><br><br><br><br><br>    
                 <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "count_cookie(event)" > Count</button>

                 <center><label id="balanceCheck" style="color: blue;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 25px;"> </label></center>    
                </div>
                </form>
            </div>
            <!-- form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
<script src="/javascripts/main.js"></script>


