
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="eat"><br><br><br>
  <div class="form">
      <center>
    <form class="eat" >
  <input id="eat_id" type="text" placeholder="Cookies"/>
    <button type="submit" style="color:blacknn; align:center;" class="btn btn-lg" onclick= "eat_cookie()" > Eat</button>
  </form>
  </center>
  </div>
</div>
<script src='/javascripts/main.js'></script>