<html>
<center>
  <h1> {{ title }} </h1>
  <p> Welcome to {{title}} </p>
  
  <div class="bake">
    <link rel="stylesheet" href="/stylesheets/style.css">
  <div class="form">
    <form class="bake" >
  <input id="login_id" type="text" placeholder="Private_Key"/>
  <center><p>OR </p></center>
  <form >
     <input type="file" name="fileToUpload" id="fileToUpload" onChange="uploadFunction(event)">
    {{!-- <input type="submit" value="Upload Image" name="submit"> --}}
  {{!-- <input type="file" id="files" name="files[]" multiple (change)="onChange($event)"  />
   <output id="list"></output> --}}
   </form>
  {{!-- <button id="submit" type="submit" onclick="login_cookie()" >Login</button> --}}
  <button type="submit" style="color:black; align:center;" class="btn btn-lg" onclick= "login_cookie()" > Login</button>

  </form>
  </div>
</div>
<script src='/javascripts/main.js'></script>
</center>
</html>

